/* Variables */

:root {
    --dGray: #31353d;
    --dlGray: #3a3f48;
    --midGray: #818896;
    --lGray: #aab2c0;
    --gold: #ca9f45;
    --dgold: #a08447;
    --lgold: #f5b735;
    --green: #136f40;
    --lgreen: #368d60;
    --blue: #1a9bd8;
    --lblue: #40b5eb;
    --white: #fff;
    --black: #000;
  }
  
  /* Load Fonts */
  
  @font-face {
    font-family: "bahij";
    src: url("../fonts/BahijTheSansArabic-Plain.ttf");
  }
  /* @font-face {
    font-family: 'bahij';
    src: url('../fonts/BahijTheSansArabic-Bold.woff2');
    font-weight: bold;
  } */
  
  /* scroll bar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #525965;
    border: 0px none #ffffff;
    border-radius: 0px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #525965;
  }
  
  ::-webkit-scrollbar-thumb:active {
    background: #525965;
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  
  ::-webkit-scrollbar-track:hover {
    background: transparent;
  }
  
  ::-webkit-scrollbar-track:active {
    background: transparent;
  }
  
  ::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  /* Main Design */
  
  body {
    font-family: "Bahij";
    background-image: url(../imgs/bg32blur.jpg);
    background-color: var(--white);
    background-attachment: fixed;
  }
  
  .btn-gold {
    background-color: var(--gold);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    border: unset;
  }
  /* .btn-gold:hover, .btn-gold:active, .btn-gold:focus{ */
  .btn-gold:hover,
  .btn-gold:active,
  .btn-gold:focus {
    background-color: var(--lgold) !important;
    color: var(--white) !important;
    border: unset !important;
  }
  .btn-gold:disabled {
    background-color: #ccc;
  }
  
  .btn-blue {
    background-color: var(--blue);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    border: unset;
  }
  
  .btn-blue:hover,
  .btn-blue:active,
  .btn-blue:focus {
    background-color: var(--lblue) !important;
    color: var(--white) !important;
    border: unset !important;
  }
  
  .btn-green {
    background-color: var(--green);
    color: var(--white);
    transition: all 0.3s ease-in-out;
    border: unset;
  }
  
  .btn-green:hover,
  .btn-green:active,
  .btn-green:focus {
    background-color: var(--lgreen) !important;
    color: var(--white) !important;
    border: unset !important;
  }
  
  /* NavBar *//* NavBar */
.navbar {
    background-color: #f5f5f5;
    padding: 5px auto;
  }
  
  .navbar::after {
    content: " ";
    background-color: var(--gold);
    height: 10px;
    position: absolute;
    width: 100%;
    bottom: -10px;
  }
  
  .navbar-brand {
    padding-top: unset;
    padding-bottom: unset;
    margin-right: 10px;
  }
  .navmenu-navbar a {
    color:var(--blue);
    transition: 0.3s ease-in-out;
  }
  .navmenu-navbar a:hover {
    color:var(--lgold);
  }
  
  .logoimg {
    width: 46px;
  }
  
  .userOptions {
    padding: unset !important;
    line-height: 1.5em;
  }
  
  .userOptions i {
    background-color: #f5f5f5 !important;
    color: var(--gold) !important;
    font-size: 1.5em;
    padding: unset !important;
    margin: unset !important;
  }
  .notificationcounterlink{
    font-size: 1.5em;
    color: #ca9f45;
    margin-top: 5px;
  }
  .notificationcounterlink:hover i {
    color: var(--lgold);
  }
  .notificationcounter{
    top: 5px !important;
    font-size: 9px !important;
    padding: 5px 7px !important;
  }
  .dropdown-toggle::after {
    content: unset;
  }
  .dropdown-menu[data-bs-popper] {
    right: 0;
    left: unset;
  }
  
  .navbarusericon {
    padding: 0;
    border: none;
    background: none;
  }
  
  .navbarusericon fa-icon {
    color: var(--gold);
    transition: 0.3s ease-in-out;
  }
  
  .navbarusericon:hover fa-icon {
    color: var(--lgold);
  }
  
  .badgew1 {
    top: 10px;
    left: 17px;
  }
  .offcanvasbtndiv{
    min-width: 163px;
  }
  .offcanvasbutton{
    display: none;
  }
  /*  SideBar  */
  #show-sidebar {
    position: fixed;
    left: 0;
    top: 10px;
    border-radius: 0 4px 4px 0px;
    width: 35px;
    transition-delay: 0.3s;
    z-index: 500;
  }
  
  .offcanvas,
  .offcanvas-lg,
  .offcanvas-md,
  .offcanvas-sm,
  .offcanvas-xl,
  .offcanvas-xxl {
    background-color: var(--dGray);
    color: var(--white);
    height: 100vh;
  }
  
  .offcanvas.offcanvas-start {
    left: -3;
  }
  
  .btn-close {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e")
      center/1em auto no-repeat;
  }
  
  .btn-close::before {
    content: "";
    background-color: white;
  }
  
  .btn-close:hover {
    opacity: 1;
  }
  
  .sidebar-logo {
    width: 100%;
    border-bottom: 1px solid transparent;
    border-image: radial-gradient(
      circle,
      rgba(129, 136, 150, 1) 50%,
      rgb(49 53 61 / 0%) 100%
    );
    border-image-slice: 1;
    padding-bottom: 10px;
  }
  
  .sidebar-logo img {
    width: 50%;
    height: 50%;
    margin: auto;
    align-items: center;
  }
  
  .userInfo span {
    font-size: 0.8em;
  }
  
  .userInfo .userName {
    color: var(--white);
    font-size: 0.9em;
  }
  
  /* .sidebar-search input::placeholder {
     text-align: right;
  } */
  .sidebar-search .input-group-text {
    left: unset;
    right: 0;
  }
  
  
  .sidebar-search input {
    background-color: var(--white);
    border: 1px solid #ca9f454f;
    width: 90%;
    color: var(--white);
    padding: 5px 15px;
  }
  
  .sidebar-search .input-group-text {
    border: unset;
    box-shadow: none;
    background-color: unset;
    padding: 8px;
    font-size: 1em;
    color: var(--midGray);
    position: absolute;
  }
  
  .sidebar .nav .nav-item .nav-link {
    cursor: pointer;
  }
  
  .sidebarNavLink {
    color: var(--midGray);
    background: #aab2c01a;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-right: 0;
  }
  .sidebarNavLinklink {
    color: var(--midGray);
    background: #aab2c01a;
    margin-bottom: 5px;
    border-radius: 5px;
    padding: 8px 8px 8px 16px;
  }
  .sidebarNavLinklink a{
    color: var(--midGray);
    text-decoration: none;
    
  }
  .sidebarNavLinklink i{
    padding: 5px;
    color: var(--gold);
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .sidebarNavLink:hover, .sidebarNavLinklink:hover a, .sidebarNavLinklink:hover a i{
    color: var(--blue);
  }
  
  .sidebar .nav .nav-item .nav-link:hover > i::before, .sidebarNavLinklink:hover a i {
    color: var(--blue);
    display: inline-block;
    animation: swing ease-in-out 0.5s 1 alternate;
  }
  
  .sidebarNavLink:active {
    color: var(--white);
  }
  
  .nav-link i {
    padding: 5px;
    color: var(--gold);
    margin-right: 5px;
    border-radius: 5px;
  }
  
  .sidebar .nav .nav-item {
    width: 100%;
  }
  
  .sidebar .nav .nav-item .submenu {
    padding: 5px 10%;
    width: 100%;
    font-size: 0.95em;
  }
  .category-item-container {
    padding-right: 1rem !important;
  }
  
  .submenu li {
    margin-bottom: 5px;
  }
  
  .submenu li a {
    text-decoration: none;
    color: var(--lGray);
  }
  
  .submenu li:hover a {
    text-decoration: none;
    color: var(--blue);
  }
  
  .sidebar-footer {
    background: #3a3f48;
    box-shadow: 0px -1px 5px #282c33;
    border-top: 1px solid #464a52;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
  }
  
  .sidebar-footer a {
    color: var(--midGray);
    cursor: pointer;
  }
  .sidebar {
    overflow-y: scroll;
    height: 60vh;
  }
  
  .menuItem {
    width: 100%;
  }
  
  /* End of SideBar */
  
  /* Content Design */
  
  .bg-lightw {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--white);
    border: 1px solid rgba(77, 77, 77, 0.3);
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  /* Main Index page */
  
  
  .mainContentItem {
    width: 30%;
  }
  
  .mainContentBlock {
    border: 1px solid #3a3f485e;
    box-shadow: 5px 5px 5px #3a3f4833;
    width: 100%;
    height: 250px;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    padding: 20px;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .mainContentBlock:hover {
    background-color: rgb(240, 240, 240);
    border: 1px solid #2c30365e;
    box-shadow: 5px 5px 5px #3a3f4891;
  }
  
  .mainContentBlock img {
    width: 20%;
    height: 70%;
  }
  
  .mainContentBlock div {
    color: var(--dlGray);
  }
  
  .mainContentBlock div h6 {
    /* direction: ltr; */
    direction: rtl;
    text-align: center;
    /* text-align: justify; */
    padding: 0px 10px;
  }
  .text-block {
    margin: 0 15px;
  }

  
  .btn-filter {
    padding: 9px 30px;
    border: unset;
    background-color: var(--gold);
    color: var(--white);
    border-radius: 5px;
    font-size: 1em;
    margin: auto 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-filter:hover {
    background-color: var(--lgold);
  }
  
  .btn-reset {
    padding: 9px 30px;
    border: unset;
    background-color: var(--dlGray);
    color: var(--white);
    border-radius: 5px;
    font-size: 1em;
    margin: auto 5px;
    transition: all 0.2s ease-in-out;
  }
  
  .btn-reset:hover {
    background-color: var(--midGray);
  }
  
  .search-results {
    border: 1px solid rgba(100, 100, 100, 0.2);
    margin: 20px;
    padding: 10px;
    border-radius: 5px;
  }
    
  .table-body-scrollable {
    display: block;
    max-height: 200px;
    overflow-x: scroll;
  }
  
  tbody.table-body-scrollable tr {
    display: table;
    width: 100%;
    table-layout: fixed;
  }
  
  
  /* Login Page */
  .loginPage {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: url("../images/backgrounds/bg-green.svg");
    background-size: cover;
    background-position: center;
  }
  
  .login-box {
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    min-height: 500px;
    min-width: 350px;
    margin: 0 auto;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    -webkit-box-shadow: 0px 15px 15px rgb(0 0 0 / 20%);
    box-shadow: 0px 15px 15px rgb(0 0 0 / 20%);
    border: 1px solid rgba(150, 150, 150, 0.7);
  }
  
  .login-box img {
    border-bottom: 1px solid transparent;
    border-image: radial-gradient(
      circle,
      rgb(236, 187, 51) 50%,
      rgba(226, 184, 46, 0) 100%
    );
    border-image-slice: 1;
    padding-bottom: 10px;
  }
  
  .login-box .form-control {
    background-color: #ffffff8f;
  }
  
  .login-box .login-action {
    border-top: 1px solid transparent;
    border-image: radial-gradient(
      circle,
      rgb(163, 163, 162) 50%,
      rgba(221, 220, 217, 0) 100%
    );
    border-image-slice: 1;
    padding-top: 30px;
  }
  
  .language-login-group {
    position: fixed;
    top: 10px;
    right: 30px;
  }
  
  /* Restore Page*/
  .restore-page-container {
    height: 80vh;
  }
  
  .restore-block {
    width: fit-content;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 1px 5px 10px 0 #ccc;
    backdrop-filter: blur(18px);
  }

  /* Footer */
.footer{
  box-shadow: 0px -7px 15px 4px rgb(0 0 0 / 8%);
  /* border-top: 11px solid #ca9f45; */
}
.footerlogoitem {
  background: #e5e5e5;
    padding: 24px 49px;
    margin-top: -20px;
    box-shadow: 0px 5px 13px 0px rgb(0 0 0 / 50%);
    margin-bottom: 20px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    text-align: center;
    
}
.footerlogoitem img {
  width: 203px;
}
.footer-item a {
  text-decoration: none;
}
.footer-item i {
  color: var(--gold);
}
.socialMedia{
  margin: auto 5px;
  transition: 0.3s ease-in-out;
}
.socialMedia:hover i{
  color:var(--dGray)
}





/* BI Design */

.main-filter span.input-group-text {
  min-width: 65px;
}
.main-searchfield{
  background-color: var(--dGray);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 20'%3e%3cpath fill='%23dedede' stroke='white' stroke-linecap='round' stroke-linejoin='round' stroke-width='0' d='m17.545 15.467l-3.779-3.779a6.15 6.15 0 0 0 .898-3.21c0-3.417-2.961-6.377-6.378-6.377A6.185 6.185 0 0 0 2.1 8.287c0 3.416 2.961 6.377 6.377 6.377a6.15 6.15 0 0 0 3.115-.844l3.799 3.801a.953.953 0 0 0 1.346 0l.943-.943c.371-.371.236-.84-.135-1.211zM4.004 8.287a4.282 4.282 0 0 1 4.282-4.283c2.366 0 4.474 2.107 4.474 4.474a4.284 4.284 0 0 1-4.283 4.283c-2.366-.001-4.473-2.109-4.473-4.474z'/%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: right;
  background-size: 28px;
  color: var(--white);
  transition: 0.3s ease-in-out;
}
.dateFilter div.multiselect-dropdown{
  width: 50% !important;
}
.main-searchfield:focus{
  background-color: #3f3f40;
  color: var(--white);
 
}
.multiselect-dropdown{
  padding: 2px 5px;
}
.select-dropdown-with-search::placeholder, .multiselect-dropdown span{
  background-color: var(--white);
  color: #212529 !important;
  padding: 0.25rem 0.5rem;
  font-size: .875rem;
  border-radius: 0.25rem;
  opacity: 1;
  cursor: pointer;
}
.input-group .multiselect-dropdown:first-of-type{
  border-top-left-radius: 0.25rem !important;
  border-bottom-left-radius: 0.25rem !important;
}
.matrix-table table{
  font-size: 0.8em
}
.matrix-table table thead tr th {
  color: var(--gold);
}
/* Remove FusionCharts WaterMark */
svg > g[class^="raphael-group-"] > text{
  display: none !important;
}
svg > g[class^="raphael-group-"]:last-of-type{
  display: none !important;
}


  
  /* Media */
  /* XX-Large devices (larger desktops, 1400px and up) */
  @media (max-width: 1400px) {
  }
  /* X-Large devices (large desktops, 1200px and up) */
  @media (max-width: 1200px) {
    .mainContentItem {
      width: 40%;
    }
  }
  /* Large devices (desktops, 992px and up) */
  @media (max-width: 992px) {
    .mainContentItem {
      width: 90%;
    }
    .sidebar {
        height: 55vh;
      }
      .offcanvasbutton{
        display: block;
      }
      .sidebarcontent{
        display: none;
      }
      .navmenu-navbar{
        display: none;
      }
      
  }
  /* Medium devices (tablets, 768px and up) */
  @media (max-width: 768px) {
    .footer{
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  /* Media Screens */
  @media (max-width: 576px) {
    .sidebar {
        height: 45vh;
      }
      .offcanvasbtndiv{
        min-width: unset;
      }
  }
  
  /* Animation */
  @keyframes swing {
    0% {
      transform: rotate(0deg);
    }
  
    10% {
      transform: rotate(10deg);
    }
  
    30% {
      transform: rotate(0deg);
    }
  
    40% {
      transform: rotate(-10deg);
    }
  
    50% {
      transform: rotate(0deg);
    }
  
    60% {
      transform: rotate(5deg);
    }
  
    70% {
      transform: rotate(0deg);
    }
  
    80% {
      transform: rotate(-5deg);
    }
  
    100% {
      transform: rotate(0deg);
    }
  }
  