<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      [className]="'btn btn-gold'"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasExample"
      aria-controls="offcanvasExample"
    >
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <a class="navbar-brand" href="#">
      <img class="logoimg" src="assets/imgs/nrrclogo-plain.svg" alt="" />
    </a>
    <div class="dropdown" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle userOptions"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <fa-icon [icon]="faUserCircle"></fa-icon>
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">الملف الشخصي</a></li>
            <li><a class="dropdown-item" href="#">الإعدادات</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">تسجيل الخروج</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- SideBar -->
<div
  class="offcanvas offcanvas-start"
  data-bs-scroll="true"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header">
    <button
      type="button"
      class="btn btn-close"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
    <button class="btn btn-sm btn-secondary m-1" (click)="changeLanguage()">
      {{ languageText }}
    </button>
  </div>
  <div class="offcanvas-body">
    <div class="sidebar-logo d-flex justify-content-center mb-3">
      <img src="../../assets/imgs/nrrclogo-v.svg" alt="" />
    </div>

    <div class="userInfo d-flex justify-content-center mb-2">
      <span class="userName">سليم عابد</span> -
      <span>مدير</span>
    </div>

    <div class="sidebar-search mb-2">
      <div class="input-group">
        <input
          type="text"
          class="form-control search-menu rounded-2"
          placeholder="بحث..."
        />
        <div class="input-group-append">
          <span class="input-group-text">
            <fa-icon [icon]="faSearch"></fa-icon>
          </span>
        </div>
      </div>
    </div>

    <div class="sidebar">
      <ul class="nav">
        <li class="nav-item navlinkw1 sidebarNavLinklink">
          <a routerLink="mail-conf">
            <fa-icon [icon]="faTachometerAlt"></fa-icon>Mail Config
          </a>
        </li>
        <li class="list-unstyled nav-item has-submenu">
          <span class="nav-link sidebarNavLink" routerLink="header-list"
            ><fa-icon [icon]="faTachometerAlt"></fa-icon>List Header</span
          >
        </li>

        <li class="list-unstyled nav-item has-submenu">
          <span class="nav-link sidebarNavLink" routerLink="send-mail"
            ><fa-icon [icon]="faMail"></fa-icon> Send Mail</span
          >
        </li>
      </ul>
    </div>

    <div class="sidebar-footer d-flex justify-content-center">
      <a href="#">
        <fa-icon [icon]="faPowerOff"></fa-icon>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>

<ngx-spinner type="ball-scale-multiple"></ngx-spinner>
<!-- <notifier-container></notifier-container> -->
